<div class="login-page">
<mat-card>
  <mat-card-title class="card-title">Zava Rewards App</mat-card-title>
  <mat-card-content>
    <div class="logo-container">
      <img   src="../assets/logo.svg" class="logo" />
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-group">

          <mat-form-field appearance="fill">
            <mat-label>Select a user</mat-label>
            <mat-select [(value)]="selectedUser" (selectionChange)="onSelectionChangeUser($event)">
              <mat-option *ngIf="loadingUsers" disabled>Loading users...</mat-option>
              <ng-container *ngIf="!loadingUsers">
                <mat-option *ngFor="let u of users" [value]="u.id">{{u.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

      </div>

      <div class="input-group">
        <mat-form-field appearance="fill">
          <mat-label>Select a program</mat-label>
          <mat-select [(value)]="selectedCompany" (selectionChange)="onSelectionChangeCompany($event)">
            <mat-option *ngIf="loadingTenants" disabled>Loading programs...</mat-option>
            <ng-container *ngIf="!loadingTenants">
              <mat-option *ngFor="let t of tenants" [value]="t">{{t}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

  <p *ngIf="error" class="error">{{ error }}</p>
  <p *ngIf="loadError" class="error">{{ loadError }}</p>

      <div class="button">
        <button type="submit" mat-button>  Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>
